.img-rotulo {
  display: flex;
  margin: 10px;
  height: 150px;
  width: 250px;
  display: flex;
  border: 1px;
}
.texto {
  background-color: cyan;
  margin-left: 400px;
  margin-top: -150px;
  margin-bottom: 50px;
}
p {
  font-weight: bold;
}
